DJANGO_SETTINGS_MODULE="{{ settings.django_settings_module }}"
# Name of nodes to start
# here we have a single node
CELERYD_NODES="{{ settings.nodes }}"


# Absolute or relative path to the 'celery' command:
CELERY_BIN="{{ settings.celery_bin }}"

# App instance to use
# comment out this line if you don't use an app
CELERY_APP="{{ settings.app }}"
# or fully qualified:
#CELERY_APP="proj.tasks:app"

CELERYD_CHDIR="{{ working_directory }}"

# How to call manage.py
CELERYD_MULTI="multi"

CELERYD_MULTI_WORKERS={{ settings.workers_number|default(1) }}

# Extra command-line arguments to the worker
CELERYD_OPTS="{{ settings.celeryd_opts|default("") }}"

# - %n will be replaced with the first part of the nodename.
# - %I will be replaced with the current child process index
#   and is important when using the prefork pool to avoid race conditions.
CELERYD_PID_FILE="/var/run/celery/%n%I.pid"
CELERYD_LOG_FILE="/var/log/celery/%n%I.log"
CELERYD_LOG_LEVEL="INFO"

{% if settings.celery_beat.enabled %}
CELERYBEAT_PID_FILE="/var/run/celery/{{ settings.app }}_beat.pid"
CELERYBEAT_LOG_FILE="/var/log/celery/{{ settings.app }}_beat.log"
CELERYBEAT_LOG_LEVEL="{{ settings.celery_beat.log_level|default('INFO') }}"
CELERYBEAT_OPTS="{{ settings.celery_beat.opts }}"
{% endif %}